<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comisionado</title>
    <link rel="stylesheet" href="C:\Users\isaac\workspace\Proyecto_SENA\Public\assets\css\comisionado.css">
    <link href="https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
<!--contenedor barra lateral-->
<div class="side-bar">
<div class="container-fluid position-fixed top-0 start-0 h-100" style="width: 205px;">
    <ul class="nav flex-column">
        <i class="home-icon bi bi-house-fill text-center"></i>
        <li class="nav-item text-center">Inicio</li>
        <br>
        <i class="material-symbols-outlined text-center reg-caso">edit_document</i>
        <li class="nav-item text-center">Registrar Caso</li>
        <br>
        <li class="nav-item text-center">Casos</li>
        <br>
        <li class="nav-item text-center" >Notificaciones</li>
        <br>
        <li class="nav-item text-center">Crear Notificacion</li>
    </ul>
</div>
</div>
</body>
</html>