RewriteEngine On

# Si el archivo o carpeta existe físicamente, que lo abra normal
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Si NO existe, mándalo todo al index.php (el Router)
RewriteRule ^ index.php [QSA,L]