.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  }
.top-bar .container-fluid{
    background-color: #606060;
    font-family: "roboto", sans-serif;
    position: static;
}
.top-bar .container-fluid h2 {
    font-size: 26px;
    color: white;
    }
.top-bar .container-fluid h4 {
    font-size: 24px;
    color: white;
}

/*Barra secundaria abajo de la principal*/
.second-bar{
	background-color: #606060 !important;
	color: white;
	position: fixed;
	top: 100px;
	left: 160px;
	border: none;
	z-index: 500;
}

.second-bar .nav-link,
.second-bar .navbar-brand {
	color: white !important;
}
.dropdown-menu{
	background-color: #606060;
}
.dropdown-item {
	color: white;
}
.second-bar .btn {
	color: white;
	border-color: white;
}
.side-bar {
		background-color: #606060;
}
.side-bar {
     display: flex;
    flex-direction: column;
    position: fixed;
    top: 100px;
    left: 0;
    width: 160px;
    height: calc(100vh - 100px);
    background-color: #949494;
    overflow-y: auto; /* permite desplazarse */
    scrollbar-width: none; /* Oculta scroll en Firefox */
    -ms-overflow-style: none; /* Oculta scroll en IE y Edge antiguos */
    font-family: "Roboto", sans-serif;
    color: #C0C0C0;
    z-index: 900;
}
.side-bar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    text-align: center;
    gap: 35px;
}
/*Sección activa*/
.sidebar .nav-item.active .nav-link span{
		color: white;
  }
.sidebar .nav-item.active .nav-link .ver-caso{
		color: white;
	}
/* Oculta la barra en Chrome, Edge y Safari */
.side-bar::-webkit-scrollbar {
    display: none;
}

/* Elimina el scroll interno para evitar conflicto */
.side-bar .container-fluid {
    background-color: #949494;
    color: #C0C0C0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow: visible;
    height: auto;
}
/*CSS icono casa*/
.side-bar .home-icon{
    font-size: 40px;
    color: #606060;
}
/*CSS icono crear notificacion*/
.side-bar .crear-icon{
    font-size: 40px;
    color: #606060;
}
/*CSS icono ver caso*/
.side-bar .ver-caso{
    font-size: 40px;
    color: #606060;
}
/*CSS icono procesos icono*/
.side-bar .noti-icon{
    font-size: 40px;
    color: #606060 !important;
}
/*CSS icono crear usuarios icono*/
.side-bar .reg-caso{
    font-size: 40px;
    color: #606060;
    text-align: center;
}
/*CSS icono notificaciones icono*/
.side-bar .ver-caso{
    font-size: 40px;
    color: #fff !important;
    text-align: center;
}
.side-bar span {
		color: #606060;
}

/*Fonts del contenido interno de la pagina*/
.main-content {
  margin-left: 160px;
  margin-top: 100px;
  min-height: calc(100vh - 100px);
  background-image: url("../../../Public/assets/img/logo_sena.png");
  background-size: 500px;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*Configuracion del div que tiene el contenido*/
.contenido {
  font-family: "ADLaM Display", system-ui;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 3rem;
}
/*Configuración del background la img*/
.main-content::before {
  content: "";
  position: absolute;
  top: 100px;
  left: 160px;
  width: calc(100% - 160px);
  height: calc(100% - 100px);
  background-image: url("../../../Public/assets/img/logo_sena.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.08;
  z-index: 0;
   overflow-y: auto;
  
}
.main-content > * {
  position: relative;
  z-index: 1;
  width: auto;
}
table {
  margin: 0 auto;
  width: auto;
  max-width: 90%;
  text-align: center;
}
.btn-table {
	background-color: #2C7C39;
	color: white;
}
